<button type="submit" name="submit" value="modify" class="btn {{ btn_update_color }} {{ btn_update_size }}">Update</button>
<button type="submit" name="submit" value="verify_delete" class="btn {{ btn_delete_color }} {{ btn_delete_size }}">Delete</button>
{{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
<input type="hidden" name="{{ hidden_name }}" value="{{ hidden_value }}" />
