{% if message != '' %}
<p class="{{ message_class }}">
    <img src="{{ image_src }}"{% if alt_text != '' %} alt="{{ alt_text }}"{% endif %}{% if image_class != '' %} class="{{ image_class }}"{% endif %}{{ other_stuph }} />
    {{ message }}
</p>
<div class="clearfix"></div>
{% endif %}
