{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block mainContainer %}
    <div class="container container-main">
{% endblock %}
{% block header %}
    {% block navbar %}
        {% if mainNavName is empty %}
            {% set mainNavName = 'mainNav' %}
        {% endif %}
        {{ include(lib_snippets ~ 'navbar.twig') }}
    {% endblock %}
    {% if a_content.header %}
        {% include '@' ~ lib_prefix ~ 'snippets/header.twig' %}
    {% endif %}
    {% block otherHeader %}{% endblock %}
{% endblock header %}
{% block search %}{% endblock %}
{% block body %}
        <div class="container">
            {% if a_content.body %}
                {% set ctype = a_content.body.c_type %}
                {% set content = a_content.body.c_content %}
                {% if ctype == 'html' or ctype == 'xml' or ctype == 'raw' %}
                    {{ content | raw }}
                {% elseif ctype == 'md' %}
                    {{ content | md }}
                {% elseif ctype == 'mde' %}
                    {{ content | mde }}
                {% else %}
                    {{ content | nl2br }}
                {% endif %}
            {% endif %}
        </div>
{% endblock %}
{% block footer %}
        <footer class="container container-footer">
            {{ include(lib_snippets ~ 'footer.twig') }}
            {{ include(lib_snippets ~ 'footer_columns.twig') }}
            <p class="font-small mb-0">Copyright &copy;&nbsp;{{ copyright_date }} <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved</p>
        </footer>
{% endblock %}
{% block endMainContainer %}
    </div>
{% endblock %}
{% block debug %}
    {% if use_debug %}
    {% if debug_text %}
        <div class="container">
            <code class="pre">
                {{ debug_text }}
            </code>
        </div>
    {% endif %}
        <p class="font-tiny">Library Base Fixed Tpl</p>
    {% endif %}
{% endblock %}
