{% extends '@default/base.twig' %}
{% block stylesheets %}{% include '@snippets/base_css.twig' %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1>Welcome! This is a manager to add/modify/delete constants used in website.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
        {% set x = -1 %}
        {% set class = x == -1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/constants/save/" method= "post">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="constant[const_name[">Constant Name: </label><input type="text" name="constant[const_name]" value="" size="30" maxlength="32" class="colorful" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="constant[const_value]">Constant Value: </label><input type="text" name="constant[const_value]" value="" size="30" maxlength="32" class="colorful"/>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    {% if adm_lvl <= 1 %}
                    <label for="constant[const_immutable]">Immutable: </label><input type="checkbox" name="constant[const_immutable]" value="1">
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                </div>
                </form>
            </div>
        {% set x = x * -1 %}
        {% for row in a_constants %}
            {% set class = x == -1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
            <form action="{{ public_dir }}/manager/constants/modify/" method="post">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="constant[const_value]">Constant Name: </label>
                    {% if row.const_immutable == 1 %}
                        <input type="hidden" name="constant[const_name]" id="constant[const_name]" value="{{ row.const_name }}" />{{ row.const_name }}
                    {% else %}
                        <input type="text" name="constant[const_name]" id="constant[const_name]" value="{{ row.const_name }}">
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="constant[const_value]">Constant Value: </label>
                    <input type="text" name="constant[const_value]" value="{{ row.const_value }}" size="30" maxlength="32" class="colorful"/>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="constant[const_immutable]">Immutable: </label>
                    {% if row.const_immutable == 1 and adm_lvl > 1 %}
                        True
                    {% else %}
                        {% if row.const_immutable == 1 %}
                            {% set checked = ' checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                        <input type="checkbox" name="constant[const_immutable]" id="constant[const_immutable]" value="1"{{ checked }}>
                    {% endif %}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                    {% if row.const_immutable != 1 %}
                    <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                    {% endif %}
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    <input type="hidden" name="constant[const_id]" value="{{ row.const_id }}" />
                </div>
            </form>
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == -1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/constants/save/" method= "post">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <label for="constant[const_name]">Constant Name: </label><input type="text" name="constant[const_name]" value="" size="30" maxlength="32" class="colorful" />
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <label for="constant[const_value]">Constant Value: </label><input type="text" name="constant[const_value]" value="" size="30" maxlength="32" class="colorful"/>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        {% if adm_lvl <= 1 %}
                            <label for="constant[const_immutable]">Immutable: </label><input type="checkbox" name="is_immutable" value="1">
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3>Instructions</h3>
            <ul>
            <li>Constant Name must be letters only. The constant name will be
            converted to all caps, spaces to underscores, and all other
            characters removed, e.g., 'my 2nd config!' will become
            'MY_ND_CONFIG'.</li>
            <li>Constant values will be sanitized (hacker prevention) but
            otherwise remain as typed. Values are limited to 64 characters.</li>
            <li>Immutable means you can't change the Constant Name or delete it.
            <b class="red bold">So be careful!</b>
            If you set something immutable, it can't go back.</li>
            </ul>
        </div>
    </div>
{% endblock %}
