{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container">
        <div class="row list-header d-none d-lg-flex sticky-top">
            <div class="col-lg-3">Name</div>
            <div class="col-lg-5">Value</div>
            <div class="col-lg-2">Immutable</div>
            <div class="col-lg-2">&nbsp;</div>
        </div>
        {% set class = 'even' %}
        <form action="{{ public_dir }}/manager/config/constants/" method= "post">
        <div class="row {{ class }}">
            <div class="col-12 col-lg-3">
                <label for="constant0[const_name]" class="form-label d-lg-none bold mb-0">Constant Name</label>
                <input type="text" id="constant0[const_name]" name="constant[const_name]" value="" maxlength="32" class="flexible colorful" />
            </div>
            <div class="col-12 col-lg-5">
                <label for="constant0[const_value]" class="form-label d-lg-none bold mb-0">Constant Value</label>
                <input type="text" name="constant[const_value]" id="constant0[const_value]" value="" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                {% set cb_values = {'id':'constant0[const_immutable]','name':'constant[const_immutable]','value':'true','checked':'','label':'Immutable'} %}
                {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            </div>
            <div class="col-12 col-lg-2">
                <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
            </div>
        </div>
        </form>
    {% for row in a_constants %}
        {% set class = class == 'even' ? 'odd' : 'even' %}
        {% set id_name = 'constant' ~ loop.index %}
        <form action="{{ public_dir }}/manager/config/constants/" method="post">
        <div class="row {{ class }}">
            <div class="col-12 col-lg-3">
                <label for="{{ id_name }}[const_name]" class="form-label d-lg-none bold mb-0">Constant Name</label>
                {% if row.const_immutable == 'true' %}
                    <span class="pl-1"><input type="hidden" name="constant[const_name]" id="{{ id_name }}[const_name]" value="{{ row.const_name }}" />{{ row.const_name }}</span>
                {% else %}
                    <input type="text" name="constant[const_name]" id="{{ id_name }}[const_name]" value="{{ row.const_name }}" class="flexible colorful">
                {% endif %}
            </div>
            <div class="col-12 col-lg-5">
                <label for="{{ id_name }}[const_value]" class="form-label d-lg-none bold mb-0">Constant Value</label>
                <input type="text" name="constant[const_value]" id="{{ id_name }}[const_value]" value="{{ row.const_value }}" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
            {% if row.const_immutable == 'true' and adm_lvl < auth_lvl.superadmin %}
                <span class="form-label d-lg-none bold mb-0">Immutable: </span>True
            {% else %}
                {% if row.const_immutable == 'true' %}
                    {% set checked = ' checked' %}
                {% else %}
                    {% set checked = '' %}
                {% endif %}
                {% set cb_values = {'id':id_name~'[const_immutable]','name':'constant[const_immutable]','value':'true','checked':checked,'label':'Immutable'} %}
                {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            {% endif %}
            </div>
            <div class="col-12 col-lg-2">
                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                {% if row.const_immutable != 'true' %}
                <button type="submit" name="submit" value="verify" class="btn btn-outline-danger btn-xs">Delete</button>
                {% endif %}
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                <input type="hidden" name="constant[const_id]" value="{{ row.const_id }}" />
            </div>
        </div>
        </form>
    {% endfor %}
        {% set class = class == 'even' ? 'odd' : 'even' %}
        <form action="{{ public_dir }}/manager/config/constants/" method= "post">
            <div class="row {{ class }}">
                <div class="col-12 col-lg-3">
                    <label for="constant[const_name]" class="form-label d-lg-none bold mb-0">Constant Name</label>
                    <input type="text" id="constant[const_name]" name="constant[const_name]" value="" maxlength="32" class="flexible colorful" />
                </div>
                <div class="col-12 col-lg-5">
                    <label for="constant[const_value]" class="form-label d-lg-none bold mb-0">Constant Value</label>
                    <input type="text" name="constant[const_value]" id="constant[const_value]" value="" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    {% set cb_values = {'id':'constant[const_immutable]','name':'constant[const_immutable]','value':'true','checked':'','label':'Immutable'} %}
                    {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with cb_values only %}
                </div>
                <div class="col-12 col-lg-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                    {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                </div>
            </div>
        </form>
    </div>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
{% endblock %}
