{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block vendorJs %}
    {{ parent() }}
    <script src="{{ public_vendor }}/jquery-validation/dist/jquery.validate.min.js"></script>
{% endblock %}
{% block body %}
    <div class="container container-main">
    {% if content_type == 'versions' %}
        {{ include(lib_snippets ~ 'content_versions.twig') }}
    {% elseif content_type == 'details' %}
        {{ include(lib_snippets ~ 'content_details.twig') }}
    {% elseif content_type == 'ro_details' %}
        {{ include(lib_snippets ~ 'content_ro_details.twig') }}
    {% else %}
        {{ include(lib_snippets ~ 'content_list.twig') }}
    {% endif %}
    </div>
    {% if content_type == 'details' %}
    {{ include(lib_snippets ~ 'instructions.twig') }}
    {% endif %}
{% endblock %}
{% block bottomJs %}
    {{ parent() }}
    {% if content_type != 'details' %}
    <script src="{{ js_dir }}/config.js"></script>
    {% endif %}
{% endblock %}
