{% extends '@default/base.twig' %}
{% block stylesheets %}{% include '@snippets/base_css.twig' %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete groups.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row hidden-sm hidden-xs list-header">
                <div class="col-md-2 list-header">Group Name</div>
                <div class="col-md-8 list-header">Group Description</div>
                <div class="col-md-2 list-header">&nbsp;</div>
            </div>
        {% set x = -1 %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                <form action="{{ public_dir }}/manager/groups/save/" method= "post">
                    <div class="row row-inside">
                        <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_name]">Group Name: </label><input type="text" name="groups[group_name]" value="" size="20" maxlength="20" class="colorful"/></div>
                        <div class="col-md-8"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_description]">Group Description: </label><input type="text" name="groups[group_description]" value="" size="80" maxlength="128" class="colorful"/></div>
                        <div class="col-md-2">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                    <div class="row row-inside">
                        <div class="col-md-2 pad-right-12 bold aright">Role(s):</div>
                        <div class="col-md-10">
                            <label class="visible-sm-inline-block visible-xs-inline-block" for="roles[]">Role(s): </label>
                            {% for row in a_blank_roles %}
                                {% if row.role_id > 2 %}
                                    <input type="checkbox" name="roles[]" value="{{ row.role_id }}"{{ row.checked }}>&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% set x = x * -1 %}
        {% for group_row in a_groups %}
            {% if group_row.group_id > 2 %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/groups/update/" method="post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_name]">Group Name: </label><input type="text" name="groups[group_name]" value="{{ group_row.group_name }}" size="20" maxlength="20" class="colorful"/></div>
                            <div class="col-md-8"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_description]">Group Description: </label><input type="text" name="groups[group_description]" value="{{ group_row.group_description }}" size="80" maxlength="128" class="colorful"/></div>
                            <div class="col-md-2">
                                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                                <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                                <input type="hidden" name="groups[group_id]" value="{{ group_row.group_id }}" />
                            </div>
                        </div>
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2 pad-right-12 bold aright">Role(s):</div>
                            <div class="col-md-10">
                                <label class="visible-sm-inline-block visible-xs-inline-block" for="roles[]">Role(s): </label>
                                {% for role_row in group_row.a_roles %}
                                    {% if role_row.role_id > 2 %}
                                        <input type="checkbox" name="roles[]" value="{{ role_row.role_id }}"{{ role_row.checked }}>&nbsp;&nbsp;{{ role_row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% set x = x * -1 %}
            {% endif %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/groups/save/" method= "post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_name]">Group Name: </label><input type="text" name="groups[group_name]" value="" size="20" maxlength="20" class="colorful"/></div>
                            <div class="col-md-8"><label class="visible-sm-inline-block visible-xs-inline-block" for="groups[group_description]">Group Description: </label><input type="text" name="groups[group_description]" value="" size="80" maxlength="128" class="colorful"/></div>
                            <div class="col-md-2">
                                <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                            </div>
                        </div>
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2 pad-right-12 bold aright">Role(s):</div>
                            <div class="col-md-10">
                                <label class="visible-sm-inline-block visible-xs-inline-block" for="roles[]">Role(s): </label>
                                {% for row in a_blank_roles %}
                                    {% if row.role_id > 2 %}
                                        <input type="checkbox" name="roles[]" value="{{ row.role_id }}"{{ row.checked }}>&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Groups are related to roles which define access levels. Certain roles are not available in this admin.</li>
                <li>Certain groups are fixed so that the app will work. They are not visible.</li>
                <li>Group Name is a single word, alpha characters only. The app will change the group name to camelCase where spaces are, removing any other characters.</li>
                <li>Group Description can be anything that is meaningful. Text will be sanitized.</li>
            </ul>
        </div>
    </div>
{% endblock %}
