{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block body %}
    {% set hidden_tpl = '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
    {% set cb_tpl = '@' ~ lib_prefix ~ 'elements/checkbox.twig' %}
    <div class="container">
            <div class="row d-none d-lg-flex list-header sticky-top">
                <div class="col-2">Group Name</div>
                <div class="col-5">Group Description</div>
                <div class="col-1">Auth Level</div>
                <div class="col-2">Immutable</div>
                <div class="col-2"></div>
            </div>
        {% set class = 'even' %}
            <form action="{{ public_dir }}/manager/config/groups/" method= "post">
            <div class="row {{ class }}">
                <div class="col-12 col-lg-2">
                    <label class="form-label d-lg-none bold pr-1" for="groups0[group_name]">Name</label>
                    <input type="text" id="groups0[group_name]" name="groups[group_name]" value="" maxlength="20" class="form-control colorful"/>
                </div>
                <div class="col-12 col-lg-5">
                    <label class="form-label d-lg-none bold pr-1" for="groups0[group_description]">Description: </label>
                    <input type="text" id="groups0[group_description]" name="groups[group_description]" value="" maxlength="128" class="form-control colorful"/>
                </div>
                <div class="col-12 col-lg-1">
                    <label class="form-label d-lg-none bold pr-1" for="groups0[group_auth_level]">Auth Level: </label>
                    <select id="groups0[group_auth_level]" name="groups[group_auth_level]" class="form-control colorful">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        {% if adm_lvl >= auth_lvl.superadmin %}
                            <option value="10">10</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-12 col-lg-2">
                    {% set cb_values = {'id':'groups0[group_immutable]','name':'groups[group_immutable]','value':'true','checked':'','label':'Immutable'} %}
                    {% include cb_tpl with cb_values only %}
                </div>
                <div class="col-12 col-lg-2 col-sm-2 col-xs-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                    {% include hidden_tpl %}
                </div>
            </div>
            </form>
        {% for group in a_groups %}
        {% if group.group_auth_level <= adm_lvl %}
            {% set id_name = 'groups' ~ loop.index %}
            {% set class = class == "even" ? 'odd' : 'even' %}
            <form action="{{ public_dir }}/manager/config/groups/" method="post">
                <div class="row {{ class }}">
                    <div class="col-12 col-lg-2">
                        <label class="form-label d-lg-none bold pr-1" for="{{ id_name }}[group_name]">Name: </label>
                    {% if group.group_immutable == 'true' %}
                        {{ group.group_name }}
                        <input type="hidden" id="{{ id_name }}[group_name]" name="groups[group_name]" value="{{ group.group_name }}"/>
                    {% else %}
                        <input type="text" id="{{ id_name }}[group_name]" name="groups[group_name]" value="{{ group.group_name }}" maxlength="20" class="form-control colorful"/>
                    {% endif %}
                    </div>
                    <div class="col-12 col-lg-5">
                        <label class="form-label d-lg-none bold pr-1" for="{{ id_name }}[group_description]">Description: </label>
                        <input type="text" id="{{ id_name }}[group_description]" name="groups[group_description]" value="{{ group.group_description }}" maxlength="128" class="form-control colorful"/>
                    </div>
                    <div class="col-12 col-lg-1">
                        {% if group.group_immutable == 'true' and adm_lvl < auth_lvl.admin %}
                            <span class="d-lg-none bold pr-1">Auth Level</span>{{ group.group_auth_level }}
                        {% else %}
                        <label class="form-label d-lg-none bold pr-1" for="{{ id_name }}[group_auth_level]">Auth Level</label>
                        <select id="{{ id_name }}[group_auth_level]" name="groups[group_auth_level]" class="form-control colorful">
                            <option value="0"{{ group.selected0 }}>0</option>
                            <option value="1"{{ group.selected1 }}>1</option>
                            <option value="2"{{ group.selected2 }}>2</option>
                            <option value="3"{{ group.selected3 }}>3</option>
                            <option value="4"{{ group.selected4 }}>4</option>
                            <option value="5"{{ group.selected5 }}>5</option>
                            <option value="6"{{ group.selected6 }}>6</option>
                            <option value="7"{{ group.selected7 }}>7</option>
                            <option value="8"{{ group.selected8 }}>8</option>
                            <option value="9"{{ group.selected9 }}>9</option>
                            {% if adm_lvl >= auth_lvl.superadmin %}
                                <option value="10"{{ group.selected10 }}>10</option>
                            {% endif %}
                        </select>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-2">
                    {% if group.group_immutable == 'true' and adm_lvl < auth_lvl.admin %}
                        Immutable
                    {% elseif group.group_immutable == 'true' %}
                        {% set cb_values = {'id':id_name~'[group_immutable]','name':'groups[group_immutable]','value':'true','checked':' checked','label':'Immutable'} %}
                        {% include cb_tpl with cb_values only %}
                    {% else %}
                        {% set cb_values = {'id':id_name~'[group_immutable]','name':'groups[group_immutable]','value':'true','checked':'','label':'Immutable'} %}
                        {% include cb_tpl with cb_values only %}
                    {% endif %}
                    </div>
                    <div class="col-12 col-lg-2">
                        <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                    {% if group.group_immutable != 'true' %}
                        <button type="submit" name="submit" value="verify" class="btn btn-outline-danger btn-xs">Delete</button>
                    {% endif %}
                        <input type="hidden" name="groups[group_id]" value="{{ group.group_id }}" />
                        {% include hidden_tpl %}
                    </div>
                </div>
            </form>
        {% endif %}
        {% endfor %}
        {% set class = class == 'even' ? 'odd' : 'even' %}
            <form action="{{ public_dir }}/manager/config/groups/" method= "post">
                <div class="row {{ class }}">
                    <div class="col-12 col-lg-2">
                        <label class="form-label d-lg-none bold pr-1" for="groups0[group_name]">Name</label>
                        <input type="text" id="groups0[group_name]" name="groups[group_name]" value="" maxlength="20" class="form-control colorful"/>
                    </div>
                    <div class="col-12 col-lg-5">
                        <label class="form-label d-lg-none bold pr-1" for="groups0[group_description]">Description: </label>
                        <input type="text" id="groups0[group_description]" name="groups[group_description]" value="" maxlength="128" class="form-control colorful"/>
                    </div>
                    <div class="col-12 col-lg-1">
                        <label class="form-label d-lg-none bold pr-1" for="groups0[group_auth_level]">Auth Level: </label>
                        <select id="groups0[group_auth_level]" name="groups[group_auth_level]" class="form-control colorful">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            {% if adm_lvl >= auth_lvl.superadmin %}
                                <option value="10">10</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-2">
                        {% set cb_values = {'id':'groups0[group_immutable]','name':'groups[group_immutable]','value':'true','checked':'','label':'Immutable'} %}
                        {% include cb_tpl with cb_values only %}
                    </div>
                    <div class="col-12 col-lg-2 col-sm-2 col-xs-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                        {% include hidden_tpl %}
                    </div>
                </div>
            </form>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
        </div>
{% endblock %}
{# Expected Array
    [
        'description'   => '',
        'title'         => '',
        'base_url'      => '',
        'lang'          => 'en',
        'charset'       => 'utf8',
        'public_dir'    => PUBLIC_DIR,
        'site_url'      => SITE_URL,
        'rights_holder' => RIGHTS_HOLDER
        'a_message'   => array(),
        'a_groups'    => array(
            [
                'group_id'          => '',
                'group_name'        => '',
                'group_description' => '',
                'group_auth_level'  => 0,
                'group_immutable'   => 'true'
            ]
        ),
        'tolken'  => $_SESSION['token'],
        'form_ts' => $_SESSION['idle_timestamp'],
        'hobbit'  => '',
        'menus'   => $this->a_links,
        'adm_lvl' => $this->adm_level
    ]
#}
