{% extends '@main/index.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete groups.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row hidden-sm hidden-xs list-header">
                <div class="col-md-2 list-header">Group Name</div>
                <div class="col-md-6 list-header">Group Description</div>
                <div class="col-md-2 list-header">&nbsp;</div>
                <div class="col-md-2 list-header">&nbsp;</div>
            </div>
        {% set x = -1 %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                <form action="{{ public_dir }}/manager/groups/save/" method= "post" class="form-group">
                    <div class="row row-inside">
                        <div class="col-md-2">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_name]">Name: </label>
                            <input type="text" name="groups[group_name]" value="" maxlength="20" class="colorful"/>
                        </div>
                        <div class="col-md-6">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_description]">Description: </label>
                            <input type="text" name="groups[group_description]" value="" maxlength="128" class="colorful w450"/>
                        </div>
                        <div class="col-md-2">
                            <label class="w100" for="groups[group_immutable]">Immutable: </label>
                            <input type="checkbox" name="groups[group_immutable]" value="1"/>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs hidden-sm hidden-xs">Save New Group</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                    <div class="row row-inside">
                        <div class="col-md-2 col-sm-2 col-xs-2 pad-right-12 bold aright">Role(s):</div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                    {% for row in a_blank_roles %}
                        {% if adm_lvl == 1 %}
                            <input type="checkbox" name="roles[]" value="{{ row.role_id }}">&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% elseif row.role_id > 2 %}
                            <input type="checkbox" name="roles[]" value="{{ row.role_id }}">&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                        </div>
                    </div>
                    <div class="row row-inside visible-sm-block visible-xs-block">
                        <div class="col-sm-2 col-xs-2 col-sm-offset-10 col-xs-offset-10">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% set x = x * -1 %}
        {% for group in a_groups %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/groups/update/" method="post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2">
                                <label class="visible-sm-inline-block visible-xs-inline-block w100 aright" for="groups[group_name]">Name: </label>
                            {% if group.group_immutable == 1 %}
                                {{ group.group_name }}
                                <input type="hidden" name="groups[group_name]" value="{{ group.group_name }}"/>
                            {% else %}
                                <input type="text" name="groups[group_name]" value="{{ group.group_name }}" maxlength="20" class="colorful"/>
                            {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label class="visible-sm-inline-block visible-xs-inline-block w100 aright" for="groups[group_description]">Description: </label>
                                <input type="text" name="groups[group_description]" value="{{ group.group_description }}" maxlength="128" class="colorful w450"/>
                            </div>
                            <div class="col-md-2">
                                <label class="w100 aright" for="groups[group_immutable]">Immutable: </label>
                            {% if group.group_immutable == 1 and adm_lvl > 1 %}
                                True
                            {% elseif group.group_immutable == 1 %}
                                <input type="checkbox" name="groups[group_immutable]" value="1" checked />
                            {% else %}
                                <input type="checkbox" name="groups[group_immutable]" value="1" />
                            {% endif %}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs hidden-sm hidden-xs">Save</button>
                            {% if group.group_immutable != 1 %}
                                <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs hidden-sm hidden-xs">Delete</button>
                            {% endif %}
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                                <input type="hidden" name="groups[group_id]" value="{{ group.group_id }}" />
                            </div>
                        </div>
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-1 col-sm-1 col-xs-1 pad-right-12 bold aright">Role(s):</div>
                            <div class="col-md-11 col-sm-11 col-xs-11">
                        {% for role in group.a_roles %}
                            {% if adm_lvl == 1 %}
                                <input type="checkbox" name="roles[]" value="{{ role.role_id }}"{{ role.checked }}>&nbsp;&nbsp;{{ role.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                            {% else %}
                                {% if role.role_id > 2 and group.group_immutable != 1 %}
                                <input type="checkbox" name="roles[]" value="{{ role.role_id }}"{{ role.checked }}>&nbsp;&nbsp;{{ role.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                                {% else %}
                                    {{ role.role_name }}&nbsp;&nbsp;
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                            </div>
                        </div>
                        <div class="row row-inside visible-sm-block visible-xs-block {{ class }}">
                            <div class="col-sm-2 col-xs-2 col-sm-offset-10 col-xs-offset-10">
                                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                            {% if group.group_immutable != 1 %}
                                <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12 {{ class }}">
                <form action="{{ public_dir }}/manager/groups/save/" method= "post">
                    <div class="row row-inside">
                        <div class="col-md-2 {{ class }}">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_name]">Name: </label>
                            <input type="text" name="groups[group_name]" value="" maxlength="20" class="colorful"/>
                        </div>
                        <div class="col-md-6 {{ class }}">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_description]">Description: </label>
                            <input type="text" name="groups[group_description]" value="" maxlength="128" class="colorful w450"/>
                        </div>
                        <div class="col-md-2 {{ class }}">
                            <label for="groups[group_immutable]" class="w100">Immutable: </label>
                            <input type="checkbox" name="groups[group_immutable]" value="1"/>
                        </div>
                        <div class="col-md-2 {{ class }}">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs hidden-sm hidden-xs">Save New Group</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                    <div class="row row-inside {{ class }}">
                        <div class="col-md-2 col-sm-2 col-xs-2 pad-right-12 bold aright">Role(s):</div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                    {% for row in a_blank_roles %}
                        {% if adm_lvl == 1 %}
                            <input type="checkbox" name="roles[]" value="{{ row.role_id }}">&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% elseif row.role_id > 2 %}
                            <input type="checkbox" name="roles[]" value="{{ row.role_id }}">&nbsp;&nbsp;{{ row.role_name }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                        </div>
                    </div>
                    <div class="row row-inside {{ class }} visible-sm-block visible-xs-block">
                        <div class="col-sm-2 col-xs-2 col-sm-offset-10 col-xs-offset-10">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Groups are related to roles which define access levels. Certain roles are not available in this admin.</li>
                <li>Certain groups are fixed so that the app will work. They are not visible.</li>
                <li>Group Name is a single word, alpha characters only. The app will change the group name to camelCase where spaces are, removing any other characters.</li>
                <li>Group Description can be anything that is meaningful. Text will be sanitized.</li>
                <li>Immutable means the name and roles cannot be changed and the group can not be deleted. <b class="red bold">Be careful!</b>
            </ul>
        </div>
    </div>
{% endblock %}
