{% extends '@main/index.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete groups.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row hidden-sm hidden-xs list-header">
                <div class="col-md-2 col-sm-2 col-xs-2 list-header">Group Name</div>
                <div class="col-md-4 col-sm-4 col-xs-4 list-header">Group Description</div>
                <div class="col-md-2 col-sm-2 col-xs-2 list-header">&nbsp;</div>
                <div class="col-md-2 col-sm-2 col-xs-2 list-header">Group Auth Level</div>
            </div>
        {% set x = -1 %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                <form action="{{ public_dir }}/manager/groups/save/" method= "post" class="form-group">
                    <div class="row row-inside">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_name]">Name: </label>
                            <input type="text" name="groups[group_name]" value="" maxlength="20" class="colorful w100"/>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_description]">Description: </label>
                            <input type="text" name="groups[group_description]" value="" maxlength="128" class="colorful w300"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class="w100 aright" for="groups[group_auth_level]">Auth Level: </label>
                            <select name="groups[group_auth_level]">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                {% if adm_lvl >= 10 %}
                                    <option value="10">10</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class="w100 aright" for="groups[group_immutable]">Immutable: </label>
                            <input type="checkbox" name="groups[group_immutable]" value="1"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% set x = x * -1 %}
        {% for group in a_groups %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/groups/update/" method="post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label class="visible-sm-inline-block visible-xs-inline-block w100 aright" for="groups[group_name]">Name: </label>
                            {% if group.group_immutable == 1 %}
                                {{ group.group_name }}
                                <input type="hidden" name="groups[group_name]" value="{{ group.group_name }}"/>
                            {% else %}
                                <input type="text" name="groups[group_name]" value="{{ group.group_name }}" maxlength="20" class="colorful w100"/>
                            {% endif %}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="visible-sm-inline-block visible-xs-inline-block w100 aright" for="groups[group_description]">Description: </label>
                                <input type="text" name="groups[group_description]" value="{{ group.group_description }}" maxlength="128" class="colorful w300"/>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label class="w100 aright" for="groups[group_auth_level]">Auth Level: </label>
                                <select name="groups[group_auth_level]">
                                    <option value="0"{{ group.selected0 }}>0</option>
                                    <option value="1"{{ group.selected1 }}>1</option>
                                    <option value="2"{{ group.selected2 }}>2</option>
                                    <option value="3"{{ group.selected3 }}>3</option>
                                    <option value="4"{{ group.selected4 }}>4</option>
                                    <option value="5"{{ group.selected5 }}>5</option>
                                    <option value="6"{{ group.selected6 }}>6</option>
                                    <option value="7"{{ group.selected7 }}>7</option>
                                    <option value="8"{{ group.selected8 }}>8</option>
                                    <option value="9"{{ group.selected9 }}>9</option>
                                    {% if adm_lvl >= 10 %}
                                        <option value="10"{{ group.selected10 }}>10</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label class="w100 aright" for="groups[group_immutable]">Immutable: </label>
                            {% if group.group_immutable == 1 and adm_lvl < 10 %}
                                True
                            {% elseif group.group_immutable == 1 %}
                                <input type="checkbox" name="groups[group_immutable]" value="1" checked />
                            {% else %}
                                <input type="checkbox" name="groups[group_immutable]" value="1" />
                            {% endif %}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                            {% if group.group_immutable != 1 %}
                                <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs hidden-sm hidden-xs">Delete</button>
                            {% endif %}
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                                <input type="hidden" name="groups[group_id]" value="{{ group.group_id }}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12 {{ class }}">
                <form action="{{ public_dir }}/manager/groups/save/" method= "post">
                    <div class="row row-inside">
                        <div class="col-md-2 col-sm-2 col-xs-2 {{ class }}">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_name]">Name: </label>
                            <input type="text" name="groups[group_name]" value="" maxlength="20" class="colorful w100"/>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 {{ class }}">
                            <label class="visible-sm-inline-block visible-xs-inline-block w100" for="groups[group_description]">Description: </label>
                            <input type="text" name="groups[group_description]" value="" maxlength="128" class="colorful w300"/>
                        </div>
                        <div class="col-md-2 {{ class }}">
                            <label for="groups[group_auth_level]" class="w100 aright">Auth Level: </label>
                            <select name="groups[group_auth_level]">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            {% if adm_lvl >= 10 %}
                                <option value="10">10</option>
                            {% endif %}
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 {{ class }}">
                            <label for="groups[group_immutable]" class="w100 aright">Immutable: </label>
                            <input type="checkbox" name="groups[group_immutable]" value="1"/>
                        </div>
                        <div class="col-md-2 {{ class }}">
                            <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Group</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Certain groups are fixed so that the app will work. They are not visible.</li>
                <li>Group Name is a single word, alpha characters only. The app will change the group name to camelCase, then capitalizing the first letter, removing any other characters.</li>
                <li>Group Description can be anything that is meaningful. Text will be sanitized.</li>
                <li>Group Auth Level sets a general authorization level for the group, 0-9, 9 having the highest authorization level.</li>
                <li>Immutable means the name cannot be changed and the group can not be deleted. <b class="red bold">Be careful!</b></li>
            </ul>
        </div>
    </div>
{% endblock %}
{# Expected Array
    [
        'description'   => '',
        'title'         => '',
        'base_url'      => '',
        'lang'          => 'en',
        'charset'       => 'utf8',
        'public_dir'    => PUBLIC_DIR,
        'site_url'      => SITE_URL,
        'rights_holder' => RIGHTS_HOLDER
        'a_message'   => array(),
        'a_groups'    => array(
            [
                'group_id'          => '',
                'group_name'        => '',
                'group_description' => '',
                'group_auth_level'  => 0,
                'group_immutable'   => 0
            ]
        ),
        'tolken'  => $_SESSION['token'],
        'form_ts' => $_SESSION['idle_timestamp'],
        'hobbit'  => '',
        'menus'   => $this->a_links,
        'adm_lvl' => $this->adm_level
    ]
#}
