{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block body %}
    {% set class = 'odd' %}
    <div class="container container-main">
        <div class="row list-header sticky-top">
            <div class="col-12 col-md-6">
                Name
            </div>
            <div class="col-3 col-md-1">
                Active
            </div>
            <div class="col-3 col-md-1">
                Default
            </div>
            <div class="col-6 col-md-4">
                &nbsp;
            </div>
        </div>
        <form action="{{ page_url }}" method="post" id="navgroups-new">
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <label for="ng_name" class="hidden-md-up pr-1">Name</label>
                    <input type="text" class="colorful pw100" name="ng_name" id="ng_name" value="">
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_active) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_default) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_immutable) }}
                </div>
                <div class="col-6 col-md-4">
                    {{ include(lib_forms ~ 'new_btn.twig', blank_new ) }}
                </div>
            </div>
        </form>
    {% for ng in a_ng %}
        {% set class = class == 'odd' ? 'even' : 'odd' %}
        <form action="{{ page_url }}" method="post" id="navgroups-update">
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <label for="ng_name" class="hidden-md-up pr-1">Name</label>
                    <input type="text" class="colorful pw100" name="ng_name" id="ng_name" value="{{ ng.name }}">
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', ng.active_btn) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', ng.default_btn) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', ng.immutable_btn) }}
                </div>
                <div class="col-6 col-md-3">
                    {{ include(lib_forms ~ 'update_delete_btns.twig', ng.action_btns) }}
                </div>
            </div>
        </form>
    {% endfor %}
        {% set class = class == 'odd' ? 'even' : 'odd' %}
        <form action="{{ page_url }}" method="post" id="navgroups-new">
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <label for="ng_name" class="hidden-md-up pr-1">Name</label>
                    <input type="text" class="colorful pw100" name="ng_name" id="ng_name" value="">
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_active_b) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_default_b) }}
                </div>
                <div class="col-2 col-md-1">
                    {{ include(lib_elements ~ 'checkbox.twig', blank_immutable_b) }}
                </div>
                <div class="col-6 col-md-4">
                    {{ include(lib_forms ~ 'new_btn.twig', blank_new) }}
                </div>
            </div>
        </form>
    </div>
    {{ include(lib_snippets ~ 'instructions.twig') }}
{% endblock %}
