{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container border border-dark">
        <form action="{{ public_dir }}/manager/config/navigation/" method="post" id="nav-form">
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <label class="col-lg-2 d-none d-lg-block col-form-label aright">Nav Group</label>
                <label class="col-12 d-lg-none col-form-label">Nav Group</label>
                <div class="col-lg-10">
                    {% include '@' ~ lib_prefix ~ 'elements/select.twig' with nav.a_ng_select %}
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter even">
                <label class="col-lg-2 d-none d-lg-block col-form-label aright">URL</label>
                <label class="col-12 d-lg-none col-form-label">URL</label>
                <div class="col-lg-10">
                    {% include '@' ~ lib_prefix ~ 'elements/select.twig' with nav.a_url_select %}
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <label class="col-lg-2 d-none d-lg-block col-form-label aright">Parent Nav</label>
                <label class="col-12 d-lg-none col-form-label">Parent Nav</label>
                <div class="col-lg-10">
                    {% include '@' ~ lib_prefix ~ 'elements/select.twig' with nav.a_nav_select %}
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter even">
                <label for="nav_name" class="col-lg-2 d-none d-lg-block col-form-label aright">Name</label>
                <label for="nav_name" class="col-12 d-lg-none col-form-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" id="nav_name" name="nav_name" class="form-control even colorful" maxlength="64" value="{{ nav.nav_name }}">
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <label for="nav_text" class="col-lg-2 d-none d-lg-block col-form-label aright">Short Description</label>
                <label for="nav_text" class="col-12 d-lg-none col-form-label">Short Description</label>
                <div class="col-lg-10">
                    <input type="text" id="nav_text" name="nav_text" class="form-control odd colorful" maxlength="64" value="{{ nav.nav_text }}">
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter even">
                <label for="nav_description" class="col-lg-2 d-none d-lg-block col-form-label aright">Description</label>
                <label for="nav_description" class="col-12 d-lg-none col-form-label">Description</label>
                <div class="col-lg-10">
                    <input type="text" id="nav_description" name="nav_description" class="form-control even colorful" maxlength="64" value="{{ nav.nav_description }}">
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <label for="nav_css" class="col-lg-2 d-none d-lg-block col-form-label aright">CSS</label>
                <label for="nav_css" class="col-12 d-lg-none col-form-label">CSS</label>
                <div class="col-lg-10">
                    <input type="text" id="nav_css" name="nav_css" class="form-control odd colorful" maxlength="64" value="{{ nav.nav_css }}">
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter even">
                <label for="nav_level" class="col-lg-2 d-none d-lg-block col-form-label aright">Nav Level</label>
                <label for="nav_level" class="col-12 d-lg-none col-form-label">Nav Level</label>
                <div class="col-lg-10">
                    {% include '@' ~ lib_prefix ~ 'elements/select.twig' with nav.a_nav_lvl_select %}
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <label for="nav_order" class="col-lg-2 d-none d-lg-block col-form-label aright">Nav Order</label>
                <label for="nav_order" class="col-12 d-lg-none col-form-label">Nav Order</label>
                <div class="col-lg-10">
                    <input type="text" id="nav_order" name="nav_order" class="form-control colorful" maxlength="2" value="{{ nav.nav_order }}">
                </div>
            </div>
            <div class="form-group row margin-bottom-0 even">
                <div class="col-lg-10 offset-lg-2">
                   {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with nav.nav_active_ckbx %}
                </div>
            </div>
            <div class="form-group row margin-bottom-0 pad-bottom-quarter odd">
                <div class="col-lg-10 offset-lg-2">
                {% if nav.nav_id == '' %}
                    <button type="submit" name="submit" value="save" class="btn btn-primary btn-xs">Save</button>
                {% else %}
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Update</button>
                    {% if nav.nav_immutable == 'false' or adm_lvl >= auth_lvls.managers %}
                    <button type="submit" name="submit" value="verify_delete" class="btn btn-outline-danger btn-xs">Delete</button>
                    {% endif %}
                {% endif %}
                    {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                    <input type="hidden" name="nav_id" id="nav_id" value="{{ nav.nav_id }}">
                </div>
            </div>
        </form>
    </div>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
{% endblock %}
{% block bottomJs %}
    {{ parent() }}
    <script src="{{ js_dir }}/config.js"></script>
{% endblock %}
