{% extends '@main/index.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! {{ page_title }}</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row {{ class }}">
                <div class="col-md-12">
                <form action="{{ public_dir }}/manager/page/new/" method= "post">
                    <div class="row row-inside">
                        <div class="col-md-2 .col-md-offset-10">
                            <button type="submit" name="submit" value="create" class="btn btn-primary btn-xs">Create New Page</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% set x = -1 %}
        {% for page in a_pages %}
            {% if page.page_immutable != 1 or adm_lvl == 10 %}
                {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/page/modify/" method="post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-4">
                                <span class="inline-block bold w75 aright pad-right-12">URL:</span>
                                {{ page.page_url }}
                            </div>
                            <div class="col-md-6">
                                <span class="inline-block bold w75 aright pad-right-12">Title:</span>
                                {{ page.page_title }}
                            </div>
                             <div class="col-md-2">
                                <button type="submit" name="submit" value="modify" class="btn btn-primary btn-xs">Modify</button>
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                                <input type="hidden" name="people_id" value="{{ page.page_id }}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                {% set x = x * -1 %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
