{% extends '@default/base.twig' %}
{% block stylesheets %}{% include '@snippets/base_css.twig' %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete people.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row {{ class }}">
                <div class="col-md-12">
                <form action="{{ public_dir }}/manager/people/" method= "post">
                    <div class="row row-inside">
                        <div class="col-md-3 .col-md-offset-9">
                            <button type="submit" name="submit" value="create" class="btn btn-primary btn-xs">Create New Person</button>
                            <input type="hidden" name="tolken" value="{{ tolken }}" />
                            <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                            <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="row hidden-sm hidden-xs list-header">
                <div class="col-md-2 list-header">Person's Login ID</div>
                <div class="col-md-4 list-header">Person's Name</div>
                <div class="col-md-4 list-header">Description</div>
                <div class="col-md-2 list-header">&nbsp;</div>
            </div>
        {% set x = -1 %}
        {% for person in a_people %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <div class="col-md-12">
                    <form action="{{ public_dir }}/manager/people/" method="post">
                        <div class="row row-inside {{ class }}">
                            <div class="col-md-2">
                                <div class="visible-sm-inline-block visible-xs-inline-block bold w100">LoginID: </div>
                                {{ person.login_id }}
                            </div>
                            <div class="col-md-4">
                                <div class="visible-sm-inline-block visible-xs-inline-block bold w100">Name: </div>
                                {{ person.real_name }}
                            </div>
                            <div class="col-md-4">
                                <div class="visible-sm-inline-block visible-xs-inline-block bold w100"">Description: </div>
                                {{ person.description }}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" name="submit" value="modify" class="btn btn-primary btn-xs">Modify</button>
                                <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                                <input type="hidden" name="tolken" value="{{ tolken }}" />
                                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                                <input type="hidden" name="person[people_id]" value="{{ person.people_id }}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
