{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% set cbx_form = '@' ~ lib_prefix ~ 'elements/checkbox.twig' %}
{% block body %}
    <div class="container container-bordered-square">
        <form action="{{ public_dir }}/manager/config/people/" method="post" id="people-form">
            <div class="row odd">
                <div class="col-12 col-lg-2">
                    <label for="login_id" class="pad-top-half bold">Login ID: </label>
                </div>
                {% if person.is_immutable == 'true' %}
                    <div class="col-12 col-lg-10">
                        {{ person.login_id }}
                        <input type="hidden" id="login_id"
                               name="person[login_id]" value="{{ person.login_id }}">
                    </div>
                {% else %}
                    <div class="col-12 col-lg-10">
                        <input type="text" id="login_id" name="person[login_id]"
                               class="form-control colorful" maxlength="64"
                               value="{{ person.login_id }}">
                    </div>
                {% endif %}
            </div>
            <div class="row even">
                <div class="col-12 col-lg-2">
                    <label for="real_name" class="pad-top-half bold">Name: </label>
                </div>
                <div class="col-12 col-lg-10">
                    <input type="text" id="real_name" name="person[real_name]"
                           class="colorful form-control" maxlength="64"
                           value="{{ person.real_name }}">
                </div>
            </div>
            <div class="row odd">
                <div class="col-12 col-lg-2">
                    <label for="short_name" class="pad-top-half bold">Alias: </label>
                </div>
                <div class="col-12 col-lg-10">
                    <input type="text" id="short_name" name="person[short_name]"
                           class="colorful form-control" maxlength="64"
                           value="{{ person.short_name }}">
                </div>
            </div>
            <div class="row even">
                <div class="col-12 col-lg-2">
                    <label for="password" class="pad-top-half bold">Password: </label>
                </div>
                {% if person.is_immutable == 'true' %} {# password can only be changed a select few #}
                    {% if adm_level <= person.highest_role %} {# the admin's auth level can only change people of same or lower auth (lower meaning higher number) #}
                        <div class="col-12 col-lg-10">
                            <input type="text" id="password"
                                   name="person[password]"
                                   class="colorful form-control"
                                   maxlength="64"
                                   autocomplete="off"
                                   value="{{ person.password }}">
                        </div>
                    {% else %} {# else whoever it is, they can't change the password #}
                        <div class="col-12 col-lg-10">
                            {{ person.password }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-12 col-lg-10">
                        <input type="text" id="password" name="person[password]"
                               class="colorful form-control" maxlength="64"
                               value="{{ person.password }}">
                    </div>
                {% endif %}
            </div>
            <div class="row odd">
                <div class="col-12 col-lg-2">
                    <label for="description" class="pad-top-half bold">Description: </label>
                </div>
                <div class="col-12 col-lg-10">
                    <input type="text" id="description"
                           name="person[description]"
                           class="colorful form-control description"
                           maxlength="250" value="{{ person.description }}">
                </div>
            </div>
            <div class="row even">
                <div class="col-12">
                {% if person.immutable != 'true' or adm_level <= person.highest_role %}
                    {% include cbx_form with person.active_cbx %}
                {% else %}
                    {{ person.is_active | capitalize }}
                    <input type="hidden" name="person[is_active]"
                           value="{{ person.is_active }}">
                {% endif %}
                </div>
            </div>
            <div class="row odd">
                <div class="col-12">
                    {% if adm_level >= person.highest_role %}
                        {% include cbx_form with person.immutable_cbx %}
                    {% else %}
                        {{ person.is_immutable | capitalize }}
                        <input type="hidden" name="person[is_immutable]"
                               value="{{ person.is_immutable }}">
                    {% endif %}
                </div>
            </div>
            <div class="row even bold">
                <div class="col-lg-12 larger font-small-caps-bold">
                    Groups:
                </div>
            </div>
            <div class="row even">
                {% for group in person.groups %}
                {% if loop.index0 % 4 == 0 %}
            </div>
            <div class="row even">
                {% endif %}
                <div class="col-lg-3">
                    {% if person.is_immutable == 'true' %}
                        {% if person.highest_role <= adm_level %}
                            {% include cbx_form with group.group_cbx %}
                        {% else %}
                            <i class="{{ fav }} fa-check-square-o"></i>
                        {% endif %}
                    {% else %}
                        {% include cbx_form with group.group_cbx %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if adm_lvl == 10 and action == 'update' %}
                <div class="row odd">
                    <div class="col-12 col-lg-2">
                        <label>Created On:</label>
                    </div>
                    <div class="col-12 col-lg-10">
                        {{ person.created_on }}
                    </div>
                </div>
                <div class="row even">
                    <div class="col-12 col-lg-2">
                        <label for="is_logged_in">Is Logged In: </label>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4 aleft">
                        {% if person.is_logged_in == 'true' %}
                            {% set is_checked = " checked" %}
                        {% else %}
                            {% set is_checked = "" %}
                        {% endif %}
                        <input type="checkbox" name="person[is_logged_in]" id="is_logged_in" class="colorful"
                               value="true"{{ is_checked }} />&nbsp;
                    </div>
                    {% if person.last_logged_in and person.last_logged_in != '1000-01-01' %}
                        <div class="col-12 col-lg-2 font-smaller italic">
                            Last Logged In:
                        </div>
                        <div class="col-12 col-lg-4 font-smaller italic">
                            {{ person.last_logged_in }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="row odd">
                <div class="col-lg-3">
                    {% if action == 'create' %}
                        <button type="submit" name="submit" value="save" class="btn btn-primary btn-sm">Create New
                            Person
                        </button>
                    {% else %}
                        <button type="submit" name="submit" value="update" class="btn btn-primary btn-sm">Update
                            Person
                        </button>
                        {% if person.is_immutable == 'false' %}
                            <button type="submit" name="submit" value="verify" class="btn btn-outline-danger btn-sm">
                                Delete
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-9">
                    {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
                    {% if person.people_id %}
                    <input type="hidden" name="person[people_id]" value="{{ person.people_id }}">
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    {{ include(lib_snippets ~ 'instructions.twig') }}
{% endblock %}
{# expected array
    [
        'lang',
        'charset',
        'base_url',
        'description',
        'public_dir',
        'title',
        'links',
        'site_url',
        'rights_holder',
        'a_message'   => array(),
        'person'      => array(
            [
                'people_id'    => '',
                'login_id'     => '',
                'real_name'    => '',
                'short_name'   => '',
                'description'  => '',
                'password'     => '',
                'is_active'    => 'false',
                'is_immutable' => 'false',
                'is_logged_in' => 'false,
                'created_on'   => date('Y-m-d H:i:s'),
                'groups'       => [],
                'highest_role' => 0
            ]
        ),
        'action'  => 'update',
        'tolken'  => 'token',
        'form_ts' => 'idle_timestamp',
        'hobbit'  => '',
        'adm_lvl' => 0,
        'menus'   => array()
    ]
#}
