{% extends '@default/base.twig' %}
{% block stylesheets %}{% include '@snippets/base_css.twig' %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete the roles used for access levels.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row hidden-sm list-header">
                <div class="col-md-2 list-header">Role Name</div>
                <div class="col-md-6 list-header">Role Description</div>
                <div class="col-md-2 list-header">Role Level</div>
                <div class="col-md-2 list-header">&nbsp;</div>
            </div>
        {% set x = -1 %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/roles/save/" method= "post">
                    <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_name]">Role Name: </label><input type="text" name="roles[role_name]" value="" size="20" maxlength="40" class="colorful"/></div>
                    <div class="col-md-6"><label class="visible-sm-inline-block" for="roles[role_description]">Role Description: </label><input type="text" name="roles[role_description]" value="" size="40" maxlength="64" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_level]">Role Level: </label><input type="text" name="roles[role_level]" value="" size="10" maxlength="5" class="colorful"/></div>
                    <div class="col-md-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Role</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        {% set x = x * -1 %}
        {% for row in a_roles %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
            {% if row.role_level > 2 %}
            <form action="{{ public_dir }}/manager/roles/update/" method="post">
                <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_name]">Role Name: </label><input type="text" name="roles[role_name]" value="{{ row.role_name }}" size="20" maxlength="40" class="colorful"/></div>
                <div class="col-md-6"><label class="visible-sm-inline-block" for="roles[role_description]">Role Description: </label><input type="text" name="roles[role_description]" value="{{ row.role_description }}" size="40" maxlength="64" class="colorful"/></div>
                <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_level]">Role Level: </label><input type="text" name="roles[role_level]" value="{{ row.role_level }}" size="10" maxlength="5" class="colorful"/></div>
                <div class="col-md-1">
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    <input type="hidden" name="roles[role_id]" value="{{ row.role_id }}" />
                </div>
            </form>
            {% endif %}
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/roles/save/" method= "post">
                    <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_name]">Role Name: </label><input type="text" name="roles[role_name]" value="" size="40" maxlength="64" class="colorful"/></div>
                    <div class="col-md-6"><label class="visible-sm-inline-block" for="roles[role_description]">Role Description: </label><input type="text" name="roles[role_description]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block" for="roles[role_level]">Role Level: </label><input type="text" name="roles[role_level]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Role</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Roles are related to access levels, the lower the number the higher the access. Role levels of 0, 1, 2 are reserved and not allowed.</li>
                <li>Certain roles are fixed so that the app will work. They are not visible.</li>
                <li>Role Name is a single word, all lower case. The app will change it to all lowercase alpha, removing any other characters.</li>
                <li>Role Description can be anything that is meaningful. Text will be sanitized.</li>
                <li>Role Level specifies access levels. 3 and above are permitted. If the values 0, 1, 2 are entered, the value will be changed to 100. Empty value will also default to 100.</li>
            </ul>
        </div>
    </div>
{% endblock %}
