{% extends '@' ~ twig_prefix ~ 'pages/index.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is the manager to add/modify/delete the routes.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@' ~ twig_prefix ~ 'snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row hidden-sm hidden-xs list-header">
                <div class="col-md-4 list-header">Route Path</div>
                <div class="col-md-2 list-header">Route Class</div>
                <div class="col-md-2 list-header">Route Method</div>
                <div class="col-md-2 list-header">Route Action</div>
                <div class="col-md-2 list-header">&nbsp;</div>
            </div>
        {% set x = -1 %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/routes/save/" method= "post">
                    <div class="col-md-4"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_path]">Route Path: </label><input type="text" name="route[route_path]" value="" size="40" maxlength="64" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_class]">Route Class: </label><input type="text" name="route[route_class]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_method]">Route Method: </label><input type="text" name="route[route_method]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_action]">Route Action: </label><input type="text" name="route[route_action]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Route</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        {% set x = x * -1 %}
        {% for row in a_routes %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
            {% if row.route_immutable == 0 %}
            <form action="{{ public_dir }}/manager/routes/update/" method="post">
                <div class="col-md-4"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_path]">Route Path: </label><input type="text" name="route[route_path]" value="{{ row.route_path }}" size="40" maxlength="64" class="colorful"/></div>
                <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_class]">Route Class: </label><input type="text" name="route[route_class]" value="{{ row.route_class }}" size="20" maxlength="32" class="colorful"/></div>
                <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_method]">Route Method: </label><input type="text" name="route[route_method]" value="{{ row.route_method }}" size="20" maxlength="32" class="colorful"/></div>
                <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_action]">Route Action: </label><input type="text" name="route[route_action]" value="{{ row.route_action }}" size="20" maxlength="32" class="colorful"/></div>
                <div class="col-md-2">
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                    <button type="submit" name="submit" value="verify" class="btn btn-warning btn-xs">Delete</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    <input type="hidden" name="route[route_id]" value="{{ row.route_id }}" />
                </div>
            </form>
            {% else %}
                {# Disabled so the list is shorter and easier to use, don't want the non-editable records being accidently edited.
                <div class="col-md-4"><span class="visible-sm-inline-block visible-xs-inline-block">Route Path: </span>{{ row.route_path }}</div>
                <div class="col-md-2"><span class="visible-sm-inline-block visible-xs-inline-block">Route Class: </span>{{ row.route_class }}</div>
                <div class="col-md-2"><span class="visible-sm-inline-block visible-xs-inline-block">Route Method: </span>{{ row.route_method }}</div>
                <div class="col-md-2"><span class="visible-sm-inline-block visible-xs-inline-block">Route Action: </span>{{ row.route_action }}</div>
                <div class="col-md-2">&nbsp;</div>
                #}
            {% endif %}
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/routes/save/" method= "post">
                    <div class="col-md-4"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_path]">Route Path: </label><input type="text" name="route[route_path]" value="" size="40" maxlength="64" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_class]">Route Class: </label><input type="text" name="route[route_class]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_method]">Route Method: </label><input type="text" name="route[route_method]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2"><label class="visible-sm-inline-block visible-xs-inline-block" for="route[route_action]">Route Action: </label><input type="text" name="route[route_action]" value="" size="20" maxlength="32" class="colorful"/></div>
                    <div class="col-md-2">
                        <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Route</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Routes maps the url to a class, method, and action.
                    Certain routes are fixed so that the app will work. They are not visible.
                </li>
                <li>Route Path is what appears in the browser address bar, e.g., '/about/charlie/'.</li>
                <li>Route Class is the name of the class, e.g., MainController.
                    The class is required and must match the class name exactly.
                    The class is normally a controller.
                </li>
                <li>The method is the name of the method to be used. The method is required,.
                    The method must match the method name exactly.
                </li>
                <li>The action is normally an argument that is used in the method. This is optional.</li>
            </ul>
        </div>
    </div>
{% endblock %}
