{% extends '@default/base.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome! This is a simplified manager to add/modify/delete the routes.</h1>
        </div>
    </div>
    {% if a_message.message != '' %}
    <div class="row">
        <div class="col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
        {% set x = -1 %}
        {% for row in a_configs %}
            {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
            <form action="{{ public_dir }}/manager/routes/modify/" method="post">
                <div class="col-md-4"><label>Route Path: <input type="text" name="route[route_path]" value="{{ row.route_path }}" size="40" maxlength="64" class="colorful"/></label></div>
                <div class="col-md-2"><label>Route Class: <input type="text" name="route[route_class]" value="{{ row.route_class }}" size="20" maxlength="32" class="colorful"/></label></div>
                <div class="col-md-2"><label>Route Method: <input type="text" name="route[route_method]" value="{{ row.route_method }}" size="20" maxlength="32" class="colorful"/></label></div>
                <div class="col-md-2"><label>Route Action: <input type="text" name="route[route_action]" value="{{ row.route_action }}" size="20" maxlength="32" class="colorful"/></label></div>
                <div class="col-md-2">
                    <button type="submit" name="submit" value="update" class="btn medium white">Save</button>
                    <button type="submit" name="submit" value="verify" class="btn medium white">Delete</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    <input type="hidden" name="routes[route_id]" value="{{ row.route_id }}" />
                </div>
            </form>
            </div>
            {% set x = x * -1 %}
        {% endfor %}
        {% set class = x == 1 ? 'alt-row' : 'normal-row' %}
            <div class="row {{ class }}">
                <form action="{{ public_dir }}/manager/routes/save/" method= "post">
                    <div class="col-md-4"><label>Route Path: <input type="text" name="route[route_path]" value="" size="40" maxlength="64" class="colorful"/></label></div>
                    <div class="col-md-2"><label>Route Class: <input type="text" name="route[route_class]" value="" size="20" maxlength="32" class="colorful"/></label></div>
                    <div class="col-md-2"><label>Route Method: <input type="text" name="route[route_method]" value="" size="20" maxlength="32" class="colorful"/></label></div>
                    <div class="col-md-2"><label>Route Action: <input type="text" name="route[route_action]" value="" size="20" maxlength="32" class="colorful"/></label></div>
                    <div class="col-md-2">
                        <button type="submit" name="submit" value="save_new" class="btn medium white">Save New</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Instructions</h3>
            <ul>
                <li>Routes maps the url to a class, method, and action.
                    Certain routes are fixed so that the app will work.
                </li>
                <li>Route Path is what appears in the browser address bar, e.g., '/about/charlie/'.</li>
                <li>Route Class is the name of the class, e.g., MainController.
                    The class is required and must match the class name exactly.
                    The class is normally a controller.
                </li>
                <li>The method is the name of the method to be used. The method is optional,
                    defaulting to the default method in the class. The method must match the method name exactly.
                </li>
                <li>The action is normally an argument that is used in the method. This is optional.</li>
            </ul>
        </div>
    </div>
{% endblock %}
