{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container">
        <div class="row d-none d-lg-flex list-header sticky-top">
            <div class="col-lg-4">Route Path</div>
            <div class="col-lg-2">Route Class</div>
            <div class="col-lg-2">Route Method</div>
            <div class="col-lg-2">Route Action</div>
            <div class="col-lg-2">&nbsp;</div>
        </div>
    {% set class = 'even' %}
        <form action="{{ public_dir }}/manager/config/routes/save/" method= "post">
        <div class="row {{ class }} border-left border-right border-top">
            <div class="col-12 col-lg-4">
                {% set this_select = {'select':a_urls_select}  %}
                {% include '@' ~ lib_prefix ~ 'elements/select.twig' with this_select %}
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_class]">Route Class: </label>
                <input type="text" id="route[route_class]" name="route[route_class]" value="" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_method]">Route Method: </label>
                <input type="text" id="route[route_method]" name="route[route_method]" value="" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_action]">Route Action: </label>
                <input type="text" id="route[route_action]" name="route[route_action]" value="" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Route</button>
                <input type="hidden" name="tolken" value="{{ tolken }}" />
                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                <input type="hidden" name="route[route_id]" value="">
                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
            </div>
        </div>
        </form>
    {% for row in a_routes %}
        {% set class = loop.index is even ? 'even' : 'odd' %}
        {% if row.route_immutable == 'false' %}
        <form action="{{ public_dir }}/manager/config/routes/update/" method="post">
        <div class="row {{ class }} border-left border-right">
            <div class="col-12 col-lg-4">
                <label class="d-lg-none" for="route[url_text]">URL: </label>
                {% set select = {'select':row.a_urls} %}
                {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select only %}
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_class]">Route Class: </label>
                <input type="text" name="route[route_class]" value="{{ row.route_class }}" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_method]">Route Method: </label>
                <input type="text" name="route[route_method]" value="{{ row.route_method }}" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <label class="d-lg-none" for="route[route_action]">Route Action: </label>
                <input type="text" name="route[route_action]" value="{{ row.route_action }}" maxlength="32" class="flexible colorful"/>
            </div>
            <div class="col-12 col-lg-2">
                <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save</button>
                <button type="submit" name="submit" value="verify" class="btn btn-danger btn-xs">Delete</button>
                <input type="hidden" name="tolken" value="{{ tolken }}" />
                <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                <input type="hidden" name="route[route_id]" value="{{ row.route_id }}" />
            </div>
        </div>
        </form>
        {% endif %}
    {% endfor %}
    {% set class = class == 'odd' ? 'even' : 'odd' %}
        <form action="{{ public_dir }}/manager/config/routes/save/" method= "post">
        <div class="row {{ class }} border-left border-right border-bottom">
                <div class="col-12 col-lg-4">
                    {% set select = {'select':a_urls_select_bottom} %}
                    {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select only %}
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_class]">Route Class: </label>
                    <input type="text" name="route[route_class]" value="" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_method]">Route Method: </label>
                    <input type="text" name="route[route_method]" value="" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_action]">Route Action: </label>
                    <input type="text" name="route[route_action]" value="" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New Route</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="hidden" name="route[route_id]" value="" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                </div>
        </div>
        </form>
    </div>
    <div class="container">
        <h3>Instructions</h3>
        <ul>
            <li>Routes maps the url to a class, method, and action.
                Certain routes are fixed so that the app will work. They are not visible.
            </li>
            <li>Route Path is what appears in the browser address bar, e.g., '/about/charlie/' and is taken from the URL manager.</li>
            <li>Route Class is the name of the class associated with the path, e.g., MasterController.
                The class is required and must match the class name exactly.
                The class is normally a controller.
            </li>
            <li>The method is the name of the method to be used. The method is required.
                The method must match the method name exactly.
            </li>
            <li>The action is normally an argument that is used in the method. This is optional.</li>
        </ul>
    </div>
{% endblock %}
{# Expected values
    [
        'lang',
        'charset',
        'base_url',
        'description',
        'public_dir',
        'title',
        'site_url',
        'rights_holder',
        'a_menus',
        'a_message',
        'a_urls' => [['url_id', 'url_text', 'is_selected'],...],
        'a_routes' => [
            [
                'route_id',
                'route_class',
                'route_method',
                'route_action',
                'route_immutable',
                'url_id'
            ],...
        ],
        'adm_lvl',
        'tolken',
        'form_ts'
    ]
#}
