{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container container-bordered-square">
        <div class="row list-header d-none d-lg-flex">
            <div class="col-lg">Template Name</div>
            <div class="col-lg">Prefix</div>
            <div class="col-lg">Directory Name</div>
            <div class="col-lg">Immutable</div>
            <div class="col-lg">Actions</div>
        </div>
        <form action="{{ public_dir }}/manager/config/twig/" method="post" class="">
            <div class="row list-stripped even">
                <div class="col-lg even">
                    <label for="template0" class="d-lg-none pr-h">Template Name:</label>
                    <input type="text" id="template0" name="template0" class="colorful flexible">
                </div>
                <div class="col-md even">
                    <label for="prefix0" class="d-none">Twig Prefixes</label>
                    <select id="prefix0" name="tp_id" onchange="changeTwigDirs(this)">
                        <option value="" selected>Twig Prefixes</option>
                        {% for tp in a_prefix %}
                            <option value="{{ tp.tp_id }}">{{ tp.tp_prefix }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md even">
                    <label for="directory0" class="d-none">Directory</label>
                    <select id="directory0" name="td_id">
                        <option value="" selected>Select Prefix First</option>
                    </select>
                </div>
                <div class="col-lg even">
                    <div class="colorful-checkbox">
                        <input id="immutable0" name="tpl_immutable" type="checkbox" value="true" checked>
                        <label for="immutable0"><span>Immutable</span></label>
                    </div>
                </div>
                <div class="col-lg even">
                    <button type="submit" name="submit" value="new_tpl" class="btn btn-green btn-xs">New</button>
                    <input type="hidden" id="tp_id0" name="tp_id" value="">
                    {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                </div>
            </div>
        </form>
    {% for tpl in a_tpls %}
        {% if loop.index is even %}
            {% set class='even' %}
        {% else %}
            {% set class='odd' %}
        {% endif %}
        {% set this_tpl_id = 'tpl_id' ~ loop.index %}
        {% set this_tpl_name = 'template' ~ loop.index %}
        {% set this_tp_id = 'tp_id' ~ loop.index %}
        {% set this_prefix = 'prefix' ~ loop.index %}
        {% set this_directory = 'directory' ~ loop.index %}
        {% set this_immutable = 'immutable' ~ loop.index %}
        <form action="{{ public_dir }}/manager/config/twig/" method="post">
        <div class="row {{ class }}">
            {% if adm_lvl >= 9 or tpl.tpl_immutable == 'false' %}
                <div class="col-lg {{ class }}">
                    <label for="{{ this_tpl_id }}" class="d-md-none pr-h">Template Name:</label>
                    <input type="text" id="{{ this_tpl_id }}" name="tpl_name" value="{{ tpl.tpl_name }}" class="colorful flexible">
                </div>
                <div class="col-md {{ class }}">
                    <label for="{{ this_tp_id }}" class="d-none">Twig Prefixes</label>
                    <select id="{{ this_tp_id }}" name="tp_id" onchange="changeTwigDirs(this)">
                        <option value="">Twig Prefixes</option>
                    {% for tp in a_prefix %}
                        {% if tp.tp_id == tpl.tp_id %}
                            {% set this_selected = ' selected' %}
                        {% else %}
                            {% set this_selected = '' %}
                        {% endif %}
                        <option value="{{ tp.tp_id }}"{{ this_selected }}>{{ tp.tp_prefix }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md {{ class }}">
                    <label for="{{ this_directory }}"></label>
                    <select id="{{ this_directory }}" name="td_id">
                {% for dir in a_dirs %}
                    {% if dir.tp_id == tpl.tp_id  %}
                        {% if dir.td_id == tpl.td_id %}
                            {% set dir_selected = ' selected' %}
                        {% else %}
                            {% set dir_selected = '' %}
                        {% endif %}
                        <option value="{{ dir.td_id }}"{{ dir_selected }}>{{ dir.td_name }}</option>
                    {% endif %}
                {% endfor %}
                    </select>
                </div>
                <div class="col-lg {{ class }}">
                    {% if tpl.tpl_immutable == 'true' %}
                        {% set is_checked = ' checked' %}
                    {% else %}
                        {% set is_checked = '' %}
                    {% endif %}
                    {% set cb_values = {'id':this_immutable,'name':'tpl_immutable','value':tpl.tpl_immutable,'checked':is_checked,'label':'Immutable'} %}
                    {% include '@' ~ page_prefix ~ 'elements/checkbox.twig' with cb_values only %}
                </div>
                <div class="col-lg {{ class }}">
                    <button type="submit" name="submit" value="update_tpl" class="btn btn-green btn-xs">Update</button>
                    <button type="submit" name="submit" value="verify_delete_tpl" class="btn btn-outline-red btn-xs">Delete</button>
                    {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                    <input type="hidden" name="tpl_id" value="{{ tpl.tpl_id }}">
                </div>
            {% else %}
                <div class="col-lg {{ class }}">
                    <span class="d-md-none pr-h">Template Name:</span>
                    {{ tpl.tpl_name }}
                </div>
                <div class="col-lg {{ class }}">
                    <span class="d-md-none pr-h">Prefix:</span>
                    {{ tpl.twig_prefix }}
                </div>
                <div class="col-lg {{ class }}">
                    <span class="d-md-none pr-h">Directory:</span>
                    {{ tpl.twig_dir }}
                </div>
                <div class="col-lg {{ class }}">
                    &nbsp;
                </div>
                <div class="col-lg {{ class }}">
                    Immutable
                </div>
            {% endif %}
        </div>
        </form>
        {% endfor %}
    </div>
    <div class="container container-bordered-square">
        <div class="row list-header d-none d-lg-flex">
            <div class="col-lg-2">Prefix</div>
            <div class="col-lg-4">Path</div>
            <div class="col-lg-2">Immutable</div>
            <div class="col-lg-2">Default</div>
            <div class="col-lg-2">Actions</div>
        </div>
        <form action="{{ public_dir }}/manager/config/twig/" method="post">
        <div class="row even">
            <div class="col-lg-2">
                <label for="tp_prefix0" class="d-md-none pr-h">Prefix</label>
                <input type="text" id="tp_prefix0" name="tp_prefix" value="" class="colorful flexible">
            </div>
            <div class="col-lg-4">
                <label for="tp_path0" class="d-md-none pr-h">Path</label>
                <input type="text" id="tp_path0" name="tp_path" value="" class="colorful flexible">
            </div>
            <div class="col-lg-2">
                {% set cb_values = {'id':'tp_active0','name':'tp_active','value':'true','checked':'','label':'Active'} %}
                {% include '@' ~ page_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            </div>
            <div class="col-lg-2">
                {% set cb_values = {'id':'tp_default0','name':'tp_default','value':'true','checked':'','label':'Default'} %}
                {% include '@' ~ page_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            </div>
            <div class="col-lg-2">
                <button type="submit" name="submit" value="new_tp" class="btn btn-green btn-xs">New</button>
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                <input type="hidden" name="tp_id" value="">
            </div>
        </div>
        </form>
    {% for prefix in a_prefix %}
        {% if loop.index is even %}
            {% set class='even' %}
        {% else %}
            {% set class='odd' %}
        {% endif %}
        {% set this_tp_id = 'tp_id' ~ loop.index %}
        {% set this_prefix = 'tp_prefix' ~ loop.index %}
        {% set this_path = 'tp_path' ~ loop.index %}
        {% set this_active = 'tp_active' ~ loop.index %}
        {% set this_default = 'tp_default' ~ loop.index %}
        <form action="{{ public_dir }}/manager/config/twig/" method="post">
        <div class="row {{ class }}">
            <div class="col-lg-2">
                <label for="{{ this_prefix }}" class="d-md-none pr-h">Prefix</label>
                <input type="text" id="{{ this_prefix }}" name="tp_prefix" value="{{ prefix.tp_prefix }}" class="colorful flexible">
            </div>
            <div class="col-lg-4">
                <label for="{{ this_path }}" class="d-md-none pr-h">Path</label>
                <input type="text" id="{{ this_path }}" name="tp_path" value="{{ prefix.tp_path }}" class="colorful flexible">
            </div>
            <div class="col-lg-2">
                {% if prefix.tp_active == 'true' %}
                    {% set is_checked = ' checked' %}
                {% else %}
                    {% set is_checked = '' %}
                {% endif %}
                {% set cb_values = {'id':this_active,'name':'tp_active','value':'true','checked':is_checked,'label':'Active'} %}
                {% include '@' ~ page_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            </div>
            <div class="col-lg-2">
                {% if prefix.tp_default == 'true' %}
                    {% set is_checked = ' checked' %}
                {% else %}
                    {% set is_checked = '' %}
                {% endif %}
                {% set cb_values = {'id':this_default,'name':'tp_default','value':'true','checked':is_checked,'label':'Default'} %}
                {% include '@' ~ page_prefix ~ 'elements/checkbox.twig' with cb_values only %}
            </div>
            <div class="col-lg-2">
                <button type="submit" name="submit" value="update_tp" class="btn btn-green btn-xs">Update</button>
                <button type="submit" name="submit" value="verify_delete_tp" class="btn btn-outline-red btn-xs">Delete</button>
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                <input type="hidden" name="tp_id" value="{{ prefix.tp_id }}">
            </div>
        </div>
        </form>
    {% endfor %}
    </div>
    <div class="container container-bordered-square">
        <div class="row list-header">
            <div class="col-lg-4">
                <label for="prefixes" class="d-none">Twig Prefixes</label>
                <select id="prefixes" name="tp_id" onclick="displayDirectories(this)">
                    <option value="" selected>Select Prefix to Display Directories</option>
                    {% for tp in a_prefix %}
                        <option value="{{ tp.tp_id }}">{{ tp.tp_prefix }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row list-header d-none d-lg-flex">
            <div class="col-lg-2">Prefix</div>
            <div class="col-lg-2">Directory Name</div>
            <div class="col-lg-2 offset-lg-6">Actions</div>
        </div>
        <form action="{{ public_dir }}/manager/config/twig/" method="post">
        <div class="row even">
            <div class="col-lg-2">
                <label for="prefixes" class="d-none">Twig Prefixes</label>
                <select id="prefixes" name="tp_id">
                    <option value="" selected>Twig Prefixes</option>
                    {% for tp in a_prefix %}
                        <option value="{{ tp.tp_id }}">{{ tp.tp_prefix }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2">
                <label for="directory_name" class="d-md-none pr-h">Directory Name</label>
                <input type="text" id="directory_name" name="td_name" value="" class="colorful flexible">
            </div>
            <div class="col-lg-2 offset-lg-6">
                <button type="submit" name="submit" value="new_dir" class="btn btn-green btn-xs">New</button>
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}

            </div>
        </div>
        </form>
        <div id="forDirectories">
            stuff
        </div>
    </div>
{% endblock %}
{% block bottomJs %}
    {{ parent() }}
    <script src="{{ js_dir }}/config.js"></script>
{% endblock %}
