{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block body %}
    <div class="container">
        <div class="row list-header d-none d-md-flex sticky-top">
            <div class="col-md-6">Url</div>
            <div class="col-md-3">Cannot be Changed</div>
            <div class="col-md-3">Action</div>
        </div>
        <form action="{{ public_id }}/manager/config/urls/" method="post" id="form-url-0">
        <div class="row odd">
            <div class="col-12 col-md-6">
                <label for="url0" class="form-label d-md-none bold mb-0">Url</label>
                <input type="text" id="url0" name="url" class="flexible colorful" value="" required>
            </div>
            <div class="col-12 col-md-3">
                {% set cb_values = {'id':'immutable-0','name':'immutable','value':'true','checked':'','label':'Immutable'} %}
                {{ include(lib_elements ~ 'checkbox.twig', cb_values, with_context = false) }}
            </div>
            <div class="col-12 col-md-3">
                <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                <input type="hidden" name="action" value="save_new">
                {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
            </div>
        </div>
        </form>
    {% for row in a_urls %}
        {% set class = loop.index is even ? 'odd' : 'even' %}
        {% set formId = 'form-url-' ~ loop.index %}
        {% set urlId = 'url-' ~ loop.index %}
        {% set immId = 'immutable-' ~ loop.index %}
        {% set finalRowNumber = (loop.length + 1) %}
        {% if row.immutable == 'false' or adm_lvl >= auth_lvl.superadmin %}
        <form action="{{ public_id }}/manager/config/urls/" method="post" id="{{ formId }}">
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <label for="{{ urlId }}" class="form-label d-md-none bold mb-0">Url</label>
                    <input type="text" id="{{ urlId }}" name="url" class="flexible colorful" value="{{ row.url }}" required>
                </div>
                <div class="col-12 col-md-3">
                    {% if row.immutable == 'true' %}
                        {% set checked = ' checked' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    {% set cb_values = {'id':immId,'name':'immutable','value':'true','checked':checked,'label':'Immutable'} %}
                    {{ include(lib_elements ~ 'checkbox.twig', cb_values, with_context = false) }}
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Update</button>
                    <button type="submit" name="submit" value="verify_delete" class="btn btn-outline-danger btn-xs">Delete</button>
                    <input type="hidden" name="url_id" value="{{ row.url_id }}">
                    {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
                </div>
            </div>
        </form>
        {% else %}
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <span class="d-lg-none bold pad-right">Url: </span>{{ row.url }}
                </div>
                <div class="col-12 col-md-3">
                    Immutable
                </div>
                <div class="col-12 col-md-3">
                </div>
            </div>
        {% endif %}
    {% endfor %}
        {% set class = class == 'even' ? 'odd' : 'even' %}
        {% set formId = 'form-url-' ~ finalRowNumber %}
        {% set urlId = 'url-' ~ finalRowNumber %}
        {% set immId = 'immutable-' ~ finalRowNumber %}
        <form action="{{ public_id }}/manager/config/urls/" method="post" id="{{ formId }}">
            <div class="row {{ class }}">
                <div class="col-12 col-md-6">
                    <label for="{{ urlId }}" class="form-label d-md-none bold mb-0">Url</label>
                    <input type="text" id="{{ urlId }}" name="url" class="flexible colorful" value="" required>
                </div>
                <div class="col-12 col-md-3">
                    {% set cb_values = {'id':immId,'name':'immutable','value':'true','checked':'','label':'Immutable'} %}
                    {{ include(lib_elements ~ 'checkbox.twig', cb_values, with_context = false) }}
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New</button>
                    <input type="hidden" name="action" value="save_new">
                    {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
                </div>
            </div>
        </form>
    </div>
    {{ include(lib_snippets ~ 'instructions.twig') }}
    <script>
        $().ready(function() {
            {% for i in 1..y %}
            $("#url{{ i }}").validate();
            {% endfor %}
        });
    </script>

{% endblock %}
{# Expected values
    [
        'lang',
        'charset',
        'base_url',
        'description',
        'public_dir',
        'title',
        'links',
        'site_url',
        'rights_holder',
        'a_message',
        'a_urls' => [['url' => 'valid_url', 'immutable' => 1 or 0],...],
        'adm_lvl',
        'a_menus',
        'tolken',
        'form_ts'
    ]
#}
