<p class="item-name">{{ item.item_name }}</p>
<p class="item-street">{{ item.street }}</p>
<p class="item-address">{{ item.city }}, {{ item.federal_state }} {{ item.postcode }}</p>
<hr>
<p class="item-about">{{ item.about|raw }}</p>
