{% extends 'WerGuideBundle:Default:base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row-fluid">
                <div class="span12">
                    {{ include("WerGuideBundle:Snippets:quickSearch.html.twig", { 'form': quick_form }) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {#
                    {{ include("WerGuideBundle:Snippets:alphaListUl.html.twig", { 'li_rows': alpha_list }) }}
                    #}
                    {{ alpha_list|raw }}
                    <br />
                    <div class="span6">{{ include("WerGuideBundle:Elements:select.html.twig", { 'rows': section_list }) }}</div>
                    <div class="span6">{{ include("WerGuideBundle:Snippets:select.html.twig", { 'rows': category_list }) }}</div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ include("WerGuideBundle/Snippets/itemCards.html.twig", { 'items': item_cards }) }}
                </div>
            </div>
{% endblock %}
