<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manager-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="manager-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ public_dir }}/manager/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ public_dir }}/manager/constants/">Constants</a></li>
                <li><a href="{{ public_dir }}/manager/routes/">Routes</a></li>
                <li><a href="{{ public_dir }}/manager/people/">People</a></li>
                <li><a href="{{ public_dir }}/manager/groups/">Groups</a></li>
                <li><a href="{{ public_dir }}/manager/roles/">Roles</a></li>
                <li><a href="{{ public_dir }}/manager/logout/">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>