{% if a_message.message != '' %}
<p class="{{ a_message.message_class }}" role="alert">
    <img src="{{ a_message.image_src }}"{% if a_message.alt_text != '' %} alt="{{ a_message.alt_text }}"{% endif %}{% if a_message.image_class != '' %} class="{{ a_message.image_class }}"{% endif %}{{ a_message.extras }} />
    {{ a_message.message|raw }}
</p>
<div class="clearfix"></div>
{% endif %}
{#
    Expected array
        [
            'a_message' => [
                'message'       => '',
                'message_class' => '',
                'image_src'     => '',
                'alt_text'      => '',
                'image_class'   => '',
                'extras'        => ''
            ]
        ]
#}