    <nav class="navbar navbar-expand-md navbar-dark navbar-color no-margin" role="navigation">
        <div class="container-fluid">
        {% block navbarBrand %}
            <a class="navbar-brand" href="#"><span class="{{ fav }} fa-cog fa-2x"></span></a>
        {% endblock navbarBrand %}
        {% block navbarToggler %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ mainNavName }}">
            <span class="fa-layers fa-fw">
            <span class="{{ fav }} fa-square fa-lg"></span>
            <span class="fas fa-bars fa-lg" data-fa-transform="shrink-6"></span>
            </span>
            </button>
        {% endblock navbarToggler %}

            <div class="collapse navbar-collapse" id="{{ mainNavName }}">
                <ul class="navbar-nav mr-auto">
            {% for menu in a_menus %}
                {% if menu.nav_css != '' %}
                    {% set extra_css %}
                        {{ ' ' ~ menu.nav_css }}
                    {% endset %}
                {% else %}
                    {% set extra_css = '' %}
                {% endif %}
                {% if menu.url == page_url %}
                    {% set active_url = ' active' %}
                {% else %}
                    {% set active_url = '' %}
                {% endif %}
                {% if menu.submenu is empty %}
                    <li class="nav-item">
                        <a id="menu-{{ menu.nav_id }}" class="nav-link{{ extra_css }}{{ active_url }}" href="{{ public_dir }}{{ menu.url }}">{{ menu.nav_text }}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a id="menu-{{ menu.nav_id }}" class="nav-link dropdown-toggle{{ menu.nav_css }}{{ active_url }}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.nav_text }}</a>
                        <div class="dropdown-menu" aria-labelledby="menu-{{ menu.nav_id }}">
                            <a class="dropdown-item{{ extra_css }}{{ active_url }}" href="{{ public_dir }}{{ menu.url }}">{{ menu.nav_text }} Home</a>
                        {% for child in menu.submenu %}
                            {% if child.nav_css != '' %}
                                {% set extra_css %}
                                    {{ ' ' ~ child.nav_css }}
                                {% endset %}
                            {% else %}
                                {% set extra_css = '' %}
                            {% endif %}
                            {% if child.url == page_url %}
                                {% set active_url = ' active' %}
                            {% else %}
                                {% set active_url = '' %}
                            {% endif %}
                            <a id="menu-{{ child.nav_id }}" class="dropdown-item{{ extra_css }}{{ active_url }}" href="{{ public_dir }}{{ child.url }}">{{ child.nav_text }}</a>
                        {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
