    <div class="container">
        <form action="{{ public_dir }}/manager/config/pages/" method="post" id="page-form">
        <div class="row alt-row form-group form-group-row">
        {% if adm_lvl < auth_lvl.admin and a_page.page_immutable is same as('true') %}
            <label for="url_text" class="form-label bold">Page URL: </label>
            <input type="text" id="url_text" name="url_text" value="{{ a_page.url_text }}" class="form-control" disabled>
            <input type="hidden" name="page[url_id]" id="url_text" value="{{ a_page.url_id }}">
        {% else %}
            {% set select = url_select %}
            {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select %}
        {% endif %}
        </div>
        <div class="row normal-row form-group form-group-row">
            <label for="page_title" class="form-label bold">Title: </label>
            <input type="text" id="page_title" name="page[page_title]" class="form-control normal-row colorful" maxlength="64" value="{{ a_page.page_title }}">
        </div>
        <div class="row alt-row form-group form-group-row">
            <label for="page_description" class="form-label bold">Meta Description: </label>
            <input type="text" id="page_description" name="page[page_description]" class="form-control  alt-row colorful" maxlength="64" value="{{ a_page.page_description }}">
        </div>
        <div class="row normal-row form-group form-group-row">
            <label for="page_base_url" class="form-label bold">Base URL: </label>
            <input type="text" id="page_base_url" name="page[page_base_url]" class="form-control normal-row colorful" maxlength="64" value="{{ a_page.page_base_url }}" />
        </div>
        <div class="row alt-row form-group form-group-row">
            <label for="page_type" class="form-label bold">MIME Type: </label>
            <input type="text" id="page_type" name="page[page_type]" class="form-control  alt-row colorful" maxlength="250" value="{{ a_page.page_type }}" />
        </div>
        <div class="row normal-row form-group form-group-row">
            <label for="page_lang" class="form-label bold">Language: </label>
            <input type="text" id="page_lang" name="page[page_lang]" class="form-control normal-row colorful" maxlength="4" value="{{ a_page.page_lang }}" />
        </div>
        <div class="row alt-row form-group form-group-row">
            <label for="page_charset" class="form-label bold">Character Set: </label>
            <input type="text" id="page_charset" name="page[page_charset]" class="form-control alt-row colorful" maxlength="20" value="{{ a_page.page_charset }}" />
        </div>
        <div class="row normal-row form-group form-group-row">
        {% if adm_lvl <= auth_level.superadmin and immutable_cbx.value == 'true' %}
            <label for="page_immutable" class="form-label bold">Immutable: </label>
            {{ immutable_cbx.value | capitalize }}<input type="hidden" name="page[page_immutable]" checked="checked" id="page_immutable" value="{{ immutable_cbx.value }}"/>
        {% else %}
            {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with immutable_cbx %}
        {% endif %}
        </div>
        <div class="row alt-row form-group form-group-row">
            <div class="col-12 col-md-4">
                {% set select = twig_prefix_select %}
                {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select %}
            </div>
            <div class="col-12 col-md-4">
                {% set select = twig_dir_select %}
                {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select %}
            </div>
            <div class="col-12 col-md-4">
                {% set select = twig_tpl_select %}
                {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select %}
            </div>
        </div>
        <div class="row normal-row form-group form-group-row">
            <div class="col-12">
                <span class="bold">Blocks (should be on template)</span>
                <div class="row normal-row">
            {% for block in a_blocks %}
                {% if loop.index0 % 4 == 0 %}
                </div>
                <div class="row normal-row">
                {% endif %}
                    <div class="col-12 col-md-3">
                        {% include '@' ~ lib_prefix ~ 'elements/checkbox.twig' with block %}
                    </div>
            {% endfor %}
                </div>
            </div>
        </div>
        <div class="row alt-row form-group form-group-row">
            {% set select = ng_select %}
            {% include '@' ~ lib_prefix ~ 'elements/select.twig' with select %}
        </div>
        <div class="row form-group form-group-row">
            <div class="col">
    {% if action == 'save' %}
                <button type="submit" name="submit" value="save" class="btn btn-primary btn-sm">Create New Page</button>
    {% else %}
                <button type="submit" name="submit" value="update" class="btn btn-primary btn-sm">Update Page</button>
        {% if a_page.page_immutable == 'false' %}
                <button type="submit" name="submit" value="verify" class="btn btn-danger btn-sm">Delete</button>
        {% endif %}
    {% endif %}
                <input type="hidden" id="page_id" name="page[page_id]" value="{{ a_page.page_id }}">
                {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
            </div>
        </div>
        </form>
    </div>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
