        <div class="row {{ class }}">
            <div class="col-md-4">
                <span class="inline-block bold w75 aright pad-right">Title:</span>
                {{ page.page_title }}
            </div>
            <div class="col-md-7">
                <span class="inline-block bold w75 aright pad-right">URL:</span>
                {{ page.page_url }}
            </div>
            <div class="col-md-1">
                {% if page.page_immutable != 'true' or adm_lvl >= 9 %}
                    <form action="{{ public_dir }}/manager/library/pages/modify/" method="post">
                        <button type="submit" name="submit" value="modify_page" class="btn btn-primary btn-xs">Modify/Delete</button>
                        <input type="hidden" name="tolken" value="{{ tolken }}" />
                        <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                        <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                        <input type="hidden" name="page_id" value="{{ page.page_id }}" />
                    </form>
                {% endif %}
            </div>
        </div>
