<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome!{% endblock %} - Guide</title>
        {% block description %}
        <meta name="description" content="{{ description }}">
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" media="screen">
        {% endblock %}

        <!-- For IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block headjavascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
<!--[if lt IE 7]>
            <div class="row-fluid">
                <div class="span12">
                    <p>You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
                </div>
            </div>
<![endif]-->
        {% block header %}
            <div class="row-fluid">
                <div class="span12 header">
                    <img src="{{ asset('assets/images/logo.png') }}">
                </div>
            </div>
        {% endblock %}

        {% block search %}
            <div class="row-fluid">
                <div class="span12 searches">
                    {% block searchSelections %}
                    <div class="span6 selections">
                        {% include "WerGuide:Elements:select.html.twig" with { 'select': section_list } %}
                        {% include "WerGuide:Elements:select.html.twig" with { 'select': category_list } %}
                    </div>
                    {% endblock %}
                    {% block searchQuickForm %}
                    <div class="span6 quick-form">
                        {% include "WerGuide:Snippets:quickSearch.html.twig" with { 'form': quick_form } %}
                    </div>
                    {% endblock %}
                    {% block searchAlpha %}
                    <div class="span12 alpha">
                        {% include "WerGuide:Snippets:alphaListUl.html.twig" with { 'li_rows': alpha_list } %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <!-- Footer -->
            <div class="row-fluid">
                <div class="span12 footer">
                    <p>Copyright &copy;&nbsp;2011-2013 <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved &reg;</p>
                </div>
            </div>
            <!-- /footer -->
        {% endblock %}
        </div>

        {% block javascripts %}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
