        <div class="colorful-checkbox">
            <input type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}"{{ other_stuph | raw }}{{ checked }}>
            <label for="{{ id }}"><span class="text-nowrap">{{ label }}</span></label>
        </div>
