<label class="c-input c-checkbox{{ class }}">
    <input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}"{{ checked }}>
    <span class="c-indicator"></span>
    {{ label }}
</label>
