        <div class="colorful-checkbox">
            <input type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}"{{ checked }}>
            <label for="{{ id }}"><span>{{ label }}</span></label>
        </div>
