{% if select.label_text != '' %}
<label for="{{ select.id }}"{% if select.label_class != '' %} class="{{ select.label_class }}"{% endif %}>{{ select.label_text }}{{ select.label_extra | raw }}</label>
{% endif %}
{% if select.name != '' %}
<select name="{{ select.name }}"{% if select.id %} id="{{ select.id }}"{% endif %}{% if select.class != '' %} class="{{ select.class }}"{% endif %}{{ select.other_stuph | raw }}>
    {% for option in select.options %}
        <option value="{{ option.value }}"{{ option.other_stuph }}>{{ option.label }}</option>
    {% endfor %}
</select>
{% endif %}
{# Expected values

select = [
    id => '',
    label_class => '',
    label_text => '',
    name => '',
    id => '',
    class => '',
    other_stuph => '',
    options => [
        [value, other_stuph, label]
    ]
]

#}
