{% if select.label_for != '' %}
<label for="{{ select.label_for }}"{% if select.label_class != '' %} class="{{ select.label_class }}"{% endif %}>{{ select.label_text }}</label>
{% endif %}
{% if select.name != '' %}
<select name="{{ select.name }}"{% if select.class != '' %} class="{{ select.class }}"{% endif %}{{ select.other_stuph }}>
    {% for option in select.options %}
        {% include "@" ~ twig_prefix ~ "elements/select_options.twig" %}
    {% endfor %}
</select>
{% endif %}
{# Expected values

select = [
    label_for => '',
    label_class => '',
    label_text => '',
    name => '',
    class => '',
    other_stuph => '',
    options => [
        [value, other_stuph, label]
    ]
]

#}