                        <li>
                            <div>{{ field.field_id }}</div>
                            <div>{{ field.field_type_id }}</div>
                            <div>{{ field.field_name }}</div>
                            <div>{{ field.field_short_description }}</div>
                            <div>{{ field.field_description }}</div>
                            <div>{{ field.field_old_field_id }}</div>
                        </li>
